<div class="container">
  <div class="row">
    <header class="jumbotron hero-spacer text-center">
      <h1>Blogs</h1>
      <p>A collection of user stories</p>
      <%= link_to "New Blog", new_blog_path, class: "btn btn-primary" %>
    </header>
  </div>
</div>
