<div class="container">
  <div class="row">
    <header class="jumbotron hero-spacer text-center">
      <h1>Blogs</h1>
      <p>A collection of user stories</p>
      <%= link_to "New Blog", new_blog_path, class: "btn btn-primary" %>
    </header>

  </div>
    <h1>Blogs 2015</h1>
    <div class="row text-center">
      <% @blogs.each do |blog| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <%= image_tag blog.image.url(:large) %>
          <div class="caption">
            <%= link_to (blog.created_at.in_time_zone("Pacific Time (US & Canada)").strftime "%B %d, %Y"), blog_path(blog)  %>
            <p><%= blog.name %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  <hr>
</div>
