<div class="col-md-5">

  <% @students_search.each do |student| %>
    <table>
      <tr>
        <td class="stat-name">
          <%= student.name %>
        </td>
        <td class="stat-calories">
          <%= student.quote %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
