// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#studentul {
  list-style-type: none;
}
#studentbutton {
  color: white;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {

  border-radius: 6px;
}
#filefield {
color: #fff;
height: 45px;
margin-left: 43%;
margin-right: 40%;

border-radius: 3px;

padding: 5px 8px;
outline: none;
-webkit-user-select: none;
cursor: pointer;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: 25em;
  padding: 4px;
}
.thumbnail {
  height: 20em;
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
  margin-right: auto;
  margin-left: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #337ab7;
}
.thumbnail .caption {
  padding: 9px;
  color: #333;
}
.hero-feature {
  height: 20em;
}
.hero-feature {
  margin-bottom: 30px;
}
