

<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <%= form_for @category do |f| %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
      <br>
      <%= f.text_field :quote, class: 'form-control', placeholder: 'Enter Your Quote' %>
      <br>

      <%= f.submit 'Create Student', class: 'btn btn-default'%>
    <% end %>
    </div>
  </div>
</div>
