<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if object.errors.any? %>
      <h3>Please fix these errors:</h3>
      <ul>
        <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>
